/* 
==== Filters Styles ====
*/

/* Filters styles */
.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: flex;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    height: 48px;
    width: 20%;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
    font-weight: 600;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
}

.filters button:hover {
    opacity: 0.9;
}

.popover {
    width: 100%;
    border: 1px solid #DDDDDD;
    background-color: #FAFAFA;
    padding: 1rem;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.popover h2 {
    font-size: 16px;
}

.popover ul {
    list-style: none;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
    z-index: 5;
}
