/* 
==== Places Styles ====
*/

/* Places styles */
.places > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.places h1 {
    text-align: left;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    box-sizing: content-box;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.places article h2 {
    text-align: center;
    font-size: 30px;
    display: block;
    width: 100%;
}

.name_price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.price_by_night {
    min-width: 60px;
    height: 60px;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    font-size: 30px;
    color: #FF5A5F;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding: 5px 0;
}

.information div {
    width: 100px;
    box-sizing: border-box;
    text-align: center;
}

.information div > span {
    display: block;
}

.user p > span {
    font-weight: 700;
}